[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fake"]
	path = fake
	url = https://github.com/barbarabodinier/fake
[submodule "rCOSA"]
	path = rCOSA
	url = https://github.com/mkampert/rCOSA
	registered = false
[submodule "sharp"]
	path = sharp
	url = https://github.com/barbarabodinier/sharp
