[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sharp"]
	path = sharp
	url = https://github.com/barbarabodinier/sharp
	shallow = true
	registered = true
